@tailwind base;
@tailwind components;
@tailwind utilities;

.card:hover > * {
  opacity: 1;
  color: white;
}
.titulo{
  color: #10069F;
  font-size: 2em;
  line-height: 1.2em;
}
.subtitulo{
  color: #4E5D65;
  font-size: 1.429em;
  line-height: 1.5em;
}
.parrafo{
  color: #4E5D65;
  font-size: 18px;
}

@layer utilities {
  .link {
    @apply bg-white text-[#10069F]  hover:text-white flex justify-center items-center tracking-wide text-[24px] relative;
  }
  .link::before {
    @apply content-[''] absolute w-[100%] h-[100%] bg-[#006DFF]  top-0 left-0 scale-y-0 transition-transform duration-700 origin-bottom;
  }
  .link:hover::before {
    @apply scale-y-100 origin-bottom;
  }

  /* .texto {
    @apply bg-white  hover:text-white flex justify-center items-center text-[2em] leading-[1.2em] relative;
  }
  .texto::before {
    @apply content-[''] absolute w-[100%] h-[100%] bg-[#006DFF]  top-0 left-0 scale-y-0 transition-opacity duration-500;
  }
  .texto:hover::before {
    @apply scale-y-100;
  } */
  
}
